In [1]:
import bson
import pandas as pd

In [2]:
def bson_data(url):
    with open(url,'rb') as f:
        datos_bson= bson.decode_all(f.read())
    datos= pd.DataFrame.from_records(datos_bson)
    return datos

In [6]:
df_animal=bson_data('dump/test/animals.bson')
df_animal.sample(10)

,_id,animalSettlement,caravanaNumber,animalType,weight,birthDay,breed,isPregmant,dateOfBirth,observations,createdAt,updatedAt,__v,animalTags,animalSenasa
330,642354130dac55003013500f,[63ecf27ba9f1a40025792acf],TAVITEC23,VACA,100.0,2022-06-18,HEREFORD,False,NaT,,2023-03-28 20:54:43.658,2023-03-28 20:54:43.658,0,[],TESTAVITEC23
387,642356d10dac550030135814,[63ecf27ba9f1a40025792acf],TAVITEC65,VACA,100.0,2022-06-18,HEREFORD,False,NaT,,2023-03-28 21:06:25.473,2023-03-28 21:06:25.473,0,[],TESTAVITEC65
178,63ee52afa9f1a40025797d8c,[63ecf27ba9f1a40025792acf],B10142,SIN ESPECIFICAR,NaN,NaT,SIN ESPECIFICAR,NaN,NaT,NaN,2023-02-16 15:58:39.489,2023-02-16 15:58:39.489,0,[],JO278-Q612-4
612,642356d60dac550030135aeb,[63ecf27ba9f1a40025792acf],TAVITEC261,VACA,100.0,2022-06-18,HEREFORD,False,NaT,,2023-03-28 21:06:30.537,2023-03-28 21:06:30.537,0,[],TESTAVITEC261
13,62d98f17a30a66002645c2ff,[620e6e5e60543d0026a01f0e],CAR5,NOVILLO,166.0,2022-07-18,LIMOUSIN,False,NaT,,2022-07-21 17:38:31.059,2022-11-29 14:11:35.813,0,[],NaN
298,640f6ef10c8f4c1edc676835,[63ecf27ba9f1a40025792acf],23-3-10TEST81,SIN ESPECIFICAR,NaN,NaT,SIN ESPECIFICAR,NaN,NaT,NaN,2023-03-13 18:44:01.595,2023-03-13 18:44:01.595,0,[],NaN
518,642356d50dac550030135a2e,[63ecf27ba9f1a40025792acf],TAVITEC275,VACA,100.0,2022-06-18,HEREFORD,False,NaT,,2023-03-28 21:06:29.338,2023-03-28 21:06:29.338,0,[],TESTAVITEC275
466,642356d20dac5500301358ef,[63ecf27ba9f1a40025792acf],TAVITEC140,VACA,100.0,2022-06-18,HEREFORD,False,NaT,,2023-03-28 21:06:26.737,2023-03-28 21:06:26.737,0,[],TESTAVITEC140
151,63ed0fdea9f1a40025795404,[63ecf27ba9f1a40025792acf],B10133,SIN ESPECIFICAR,NaN,NaT,SIN ESPECIFICAR,NaN,NaT,NaN,2023-02-15 17:01:18.401,2023-02-15 17:01:18.401,0,[],JO278-Q571-3
157,63ed1026a9f1a40025795595,[63ecf27ba9f1a40025792acf],B10169,SIN ESPECIFICAR,NaN,NaT,SIN ESPECIFICAR,NaN,NaT,NaN,2023-02-15 17:02:30.103,2023-02-15 17:02:30.103,0,[],CC014-H698-6

In [4]:
row_data= bson_data('dump/test/plots.bson')
row_data.sample(5)

,_id,auravant,virtualFenceGeoPoints,name,geoPoints,batchNumber,forage,specie,antiquity,quality,__v,hectares,color,lat,lng
55,63eff7fcebcff60025f5db94,None,[],LA10Nbajo2,"[{'_id': 63eff7fbebcff60025f5d878, 'lng': -64....",NaN,NaN,NaN,NaN,NaN,0.0,NaN,#8db42f,NaN,NaN
31,63eff7fbebcff60025f5d994,None,[],LA25,"[{'_id': 63eff7fbebcff60025f5d694, 'lng': -64....",NaN,NaN,NaN,NaN,NaN,0.0,176.80,#8db42f,NaN,NaN
57,63eff7fcebcff60025f5dbac,None,[],LA9N,"[{'_id': 63eff7fbebcff60025f5d88e, 'lng': -64....",NaN,NaN,NaN,NaN,NaN,0.0,109.62,#8db42f,NaN,NaN
65,63eff7fcebcff60025f5dc1b,None,[],LV4,"[{'_id': 63eff7fbebcff60025f5d8f5, 'lng': -64....",NaN,NaN,NaN,NaN,NaN,0.0,81.78,#8db42f,NaN,NaN
14,63b55f4b973f9f35c0c5b37d,None,"[[{'_id': 6419ff60de5de32248c9396b, 'lat': -32...",potrero 1,"[{'_id': 63dfcf982fc970002f389d4e, 'lat': -32....",1231,LEGUMINOSAS,Alfalfa con reposo intermedio,6,Seleccione una opción,0.0,11.72,#b0bc00,NaN,NaN

In [5]:
devise= bson_data('dump/test/devices.bson')
devise.head()

,_id,deviceType,deviceFirmwareVersion,deviceMACAddress,deviceAnimalID,__v
0,62d56cc2e71f68426833cc74,CARAVANA,2222,BC27B1A003FE,640f6ef10c8f4c1edc6767e4,0
1,62d6e9fc0408c608acb6fe31,CARAVANA,2222,E0402C1C41C3,642354190dac5500301350d0,0
2,62d99152a30a66002645c414,CARAVANA,2222,D8C5EB08B8C4,640f6ef10c8f4c1edc67680e,0
3,62d9a95f0223ce002612b082,CARAVANA,2222,76C16507C7F1,62d9a9400223ce002612b065,0
4,62d9ad5d0223ce002612b4e5,CARAVANA,2222,14D06B0EA2EE,638660af3039cf00301d200e,0

In [6]:
sethle= bson_data('dump/test/settlementithcounts.bson')
sethle.head(9)

,_id,settlementId,ITH,createdAt,updatedAt,__v
0,62c7f1aedb5dcb31707223a8,620e6e5e60543d0026a01f0e,85.0,2022-07-08 08:58:22.542,2022-07-08 08:58:22.542,0
1,62cd3f774e549d1fa8a49127,620e6e5e60543d0026a01f0e,40.0,2022-07-12 09:31:35.287,2022-07-12 09:31:35.287,0
2,62cac4e7f7ba57581cc7333a,620e6e5e60543d0026a01f0e,85.0,2022-07-10 12:24:07.766,2022-07-10 12:24:07.766,0
3,62cac5dd9a70241d101c8044,620e6e5e60543d0026a01f0e,0.0,2022-07-10 12:28:19.056,2022-07-10 12:28:19.056,0
4,62cac836ea09d2322467a8c3,620e6e5e60543d0026a01f0e,51.0,2022-07-10 12:38:29.590,2022-07-10 12:38:29.590,0
5,62caccdde95b3f0bc8d0a3b4,620e6e5e60543d0026a01f0e,55.0,2022-07-10 12:58:05.084,2022-07-10 12:58:05.084,0
6,62cad3c2d7410a52706570cc,620e6e5e60543d0026a01f0e,55.0,2022-07-10 13:27:30.911,2022-07-10 13:27:30.911,0
7,62cec1d1d74a6600250364f6,620e6e5e60543d0026a01f0e,51.0,2022-07-13 13:00:01.894,2022-07-13 13:00:01.894,0
8,62cefa1042eaeb002598211b,620e6e5e60543d0026a01f0e,61.0,2022-07-13 17:00:00.997,2022-07-13 17:00:00.997,0

In [1]:
from firebase import firebase

In [2]:
fire = firebase.FirebaseApplication('https://console.firebase.google.com/u/0/project/api-basto/database/api-basto-default-rtdb/data/~2F?hl=es',None)

In [3]:
import pandas as pd
df= pd.read_csv('data_clean_gps.csv',index_col='Unnamed: 0')
df.createdAt=pd.to_datetime(df.createdAt) 
df.updatedAt=pd.to_datetime(df.updatedAt)

In [9]:
data={'id':'34242424242',
      'name':'Nestor',
      'apellido':'gentil'}

In [ ]:
resul= fire.post('/dataGps/datos_prueba',data)
print(resul)