In [1]:
import pymongo
import pandas as pd

data_mongo= pymongo.MongoClient('localhost:27017')

db= data_mongo['test']

In [2]:
def mongo_data(collection):
    mongoColle= db[collection]
    data= list(mongoColle.find())
    df= pd.json_normalize(data,sep='_')
    df._id=df._id.astype(str)
    return df

In [3]:
from bson import ObjectId
def setle_clean(select):
    de= db['settlements']
    obj= de.find_one({'_id':ObjectId(select)})
    df_setle= pd.json_normalize(obj,sep='_')
    df_setle['id_central']=df_setle.centralPoint.apply(lambda x: x[0]['_id'] if '_id' in x[0] else None)
    df_setle['latitud_c']=df_setle.centralPoint.apply(lambda x: x[0]['lat'] if 'lat' in x[0] else None)
    df_setle['longitud_c']=df_setle.centralPoint.apply(lambda x: x[0]['lng'] if 'lng' in x[0] else None)
    setle_n = df_setle[['_id','hectares','registerNumber','headsCount','name','latitud_c','longitud_c']]
    return setle_n

def selec_setle(data,select):
    return data[data._id==select]

In [22]:
d= setle_clean('63ecf27ba9f1a40025792acf')
d

,_id,hectares,registerNumber,headsCount,name,latitud_c,longitud_c
0,63ecf27ba9f1a40025792acf,1.09,None,None,MACSA,-34.164999,-64.07001

In [4]:
df_animal=mongo_data('animals')
df_devis= mongo_data('devices')
# df_plot= mongo_data('plots')
# df_setith= mongo_data('settlementithcounts')
df_setle= mongo_data('settlements')

In [5]:
df_devis.deviceType.unique()

array(['CARAVANA', 'COLLAR', 'PUNTO FIJO'], dtype=object)

In [21]:
df_plot['latitud']=df_plot.geoPoints.apply(lambda x: x[0]['lat'])
df_plot['longitud']=df_plot.geoPoints.apply(lambda x: x[0]['lng'])
df_plot['id_geoPoint']=df_plot.geoPoints.apply(lambda x: x[0]['_id'] if '_id' in x[0] else None)

In [8]:
df_setle['id_limits']=df_setle.limits.apply(lambda x: x[0]['_id'] if len(x)>0 else None )
df_setle['latitud']=df_setle.limits.apply(lambda x: x[0]['lat'] if len(x)>0 else None )
df_setle['longitud']=df_setle.limits.apply(lambda x: x[0]['lng'] if len(x)>0 else None )

In [9]:
df_setle['id_central']=df_setle.centralPoint.apply(lambda x: x[0]['_id'] if '_id' in x[0] else None)
df_setle['latitud_c']=df_setle.centralPoint.apply(lambda x: x[0]['lat'] if 'lat' in x[0] else None)
df_setle['longitud_c']=df_setle.centralPoint.apply(lambda x: x[0]['lng'] if 'lng' in x[0] else None)

In [10]:
df_animal['animalSettlement']=df_animal['animalSettlement'].apply(lambda x:x[0])
df_animal.animalSettlement=df_animal.animalSettlement.astype(str)

In [1]:
def conect_animal():
    df_animal=mongo_data('animals')
    df_animal['animalSettlement']=df_animal['animalSettlement'].apply(lambda x:x[0])
    df_animal.animalSettlement=df_animal.animalSettlement.astype(str)
    result= df_animal[(df_animal.caravanaNumber.str.contains('AGUADA'))|(df_animal.caravanaNumber.str.contains('PUNTO_FIJO'))]#lo use para extraer un csv con aguadas y puntos fijos
    return result

In [11]:
df_animal[df_animal.animalSettlement=='63ecf27ba9f1a40025792acf']

,_id,animalSettlement,caravanaNumber,animalType,weight,birthDay,breed,isPregmant,dateOfBirth,observations,createdAt,updatedAt,__v,animalTags,animalSenasa
90,63ed0ae9a9f1a40025793c1d,63ecf27ba9f1a40025792acf,B10119,SIN ESPECIFICAR,NaN,NaT,SIN ESPECIFICAR,NaN,NaT,NaN,2023-02-15 16:40:09.824,2023-02-15 16:40:09.824,0,[],JO278-Q550-0
91,63ed0b15a9f1a40025793c52,63ecf27ba9f1a40025792acf,B10124,SIN ESPECIFICAR,NaN,NaT,SIN ESPECIFICAR,NaN,NaT,NaN,2023-02-15 16:40:53.331,2023-02-15 16:40:53.331,0,[],CCO14-I054-1
92,63ed0b7aa9f1a40025793c82,63ecf27ba9f1a40025792acf,B10194,SIN ESPECIFICAR,NaN,NaT,SIN ESPECIFICAR,NaN,NaT,NaN,2023-02-15 16:42:34.667,2023-02-15 16:42:34.667,0,[],JF718-B858-8
93,63ed0b8da9f1a40025793ce6,63ecf27ba9f1a40025792acf,B10125,SIN ESPECIFICAR,NaN,NaT,SIN ESPECIFICAR,NaN,NaT,NaN,2023-02-15 16:42:53.464,2023-02-15 16:42:53.464,0,[],JO278-P809-1
94,63ed0b93a9f1a40025793d0f,63ecf27ba9f1a40025792acf,B10139,SIN ESPECIFICAR,NaN,NaT,SIN ESPECIFICAR,NaN,NaT,NaN,2023-02-15 16:42:59.098,2023-02-15 16:42:59.098,0,[],JO278-Q551-9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
623,64235c730dac550030135fb2,63ecf27ba9f1a40025792acf,TBOZAVI8,VACA,100.0,2022-06-18,HEREFORD,False,NaT,,2023-03-28 21:30:27.676,2023-03-28 21:30:27.676,0,[],TESTBOZAVI8
624,64235c730dac550030135fb4,63ecf27ba9f1a40025792acf,TBOZAVI7,VACA,100.0,2022-06-18,HEREFORD,False,NaT,,2023-03-28 21:30:27.683,2023-03-28 21:30:27.683,0,[],TESTBOZAVI7
625,642367fd0dac550030136043,63ecf27ba9f1a40025792acf,TBOZAVI9,VACA,100.0,2022-06-18,HEREFORD,False,NaT,,2023-03-28 22:19:41.682,2023-03-28 22:19:41.682,0,[],TESTBOZAVI9
626,642367fd0dac550030136047,63ecf27ba9f1a40025792acf,TBOZAVI11,VACA,100.0,2022-06-18,HEREFORD,False,NaT,,2023-03-28 22:19:41.690,2023-03-28 22:19:41.690,0,[],TESTBOZAVI11
627,642367fd0dac550030136045,63ecf27ba9f1a40025792acf,TBOZAVI10,VACA,100.0,2022-06-18,HEREFORD,False,NaT,,2023-03-28 22:19:41.687,2023-03-28 22:19:41.687,0,[],TESTBOZAVI10

In [38]:
aguadas= pd.read_csv('puntosfijos_aguadas.csv')

In [3]:
def update_aguada(setle):
    df_devis= mongo_data('devices')
    df_devis.deviceAnimalID=df_devis.deviceAnimalID.astype(str)
    data_devise = df_devis[df_devis.deviceType=='PUNTO FIJO'] 
    aguadas= conect_animal()
    x= aguadas[aguadas['animalSettlement']==setle]
    agua =data_devise[data_devise.deviceAnimalID.isin(x._id)]
    return agua

In [43]:
update_aguada('620e6e5e60543d0026a01f0e',df_devis)

,_id,deviceType,deviceFirmwareVersion,deviceMACAddress,deviceAnimalID,__v
33,6386608e3039cf00301d1fc7,PUNTO FIJO,2222,0004A30B00F82747,638f46a8a5c1673814c1f7e2,0
34,638660a23039cf00301d1ff7,PUNTO FIJO,2222,0004A30B00F82E9C,638f557947b80d0025f05eaa,0
36,6386616d3039cf00301d20e9,PUNTO FIJO,2222,0004A30B00F88969,638f559b47b80d0025f05f02,0
155,640b79fde5142a002f656028,PUNTO FIJO,2222,0004A30B00F7FC52,640b79fde5142a002f656029,0
156,640b7a20e5142a002f656039,PUNTO FIJO,2222,0004A30B00F7FAC0,640b7a20e5142a002f65603a,0
157,640b7a4be5142a002f65604d,PUNTO FIJO,2222,0004A30B00F7927C,640b7a4be5142a002f65604e,0
158,640b7a61e5142a002f65605e,PUNTO FIJO,2222,0004A30B00F75591,640b7a61e5142a002f65605f,0
159,640b7a86e5142a002f656072,PUNTO FIJO,2222,0004A30B00F899AA,640b7a86e5142a002f656073,0

In [25]:
df_devis.deviceAnimalID=df_devis.deviceAnimalID.astype(str)

In [12]:
df_devis[df_devis.deviceMACAddress=='0004A30B00F8302C']

Empty DataFrame
Columns: [_id, deviceType, deviceFirmwareVersion, deviceMACAddress, deviceAnimalID, __v]
Index: []

In [9]:
df_setle.iloc[0].enabledUsers

[ObjectId('6201245070900d002592d7ec'),
 ObjectId('636c17ea2bd5b2003050e02a'),
 ObjectId('6363ee75d501590030a78926')]

In [25]:
prueba= df_devis[df_devis.deviceMACAddress.isin(['0004A30B00F860CC', '0004A30B00F82E81', '0004A30B00F89C5D',
       '0004A30B00F8302C', '0004A30B00F869B4', '0004A30B00F86440',
       '0004A30B00F8A181', '0004A30B00F841E4', '0004A30B00F8B356',
       '0004A30B00F81069', '0004A30B00F842C1', '0004A30B00F8B217',
       '0004A30B00F81075', '0004A30B00F83085', '0004A30B00F842B6',
       '0004A30B00F89C52', '0004A30B00F862AF', '0004A30B00F7E0C6',
       '0004A30B00F82EB9'])]

In [ ]:
df_animal[df_animal._id.isin(prueba.deviceAnimalID)]

In [11]:
masca =~df_setle._id.isin(df_animal.animalSettlement.unique())

In [12]:
df_setle[masca]#estos valores no tienen regitras con animales

,_id,enabledUsers,plots,limits,hectares,registerNumber,headsCount,name,createdAt,updatedAt,__v,centralPoint,auravantApiKey,enabled,id_limits,latitud,longitud,id_central,latitud_c,longitud_c
6,63ff75624c2d6d003084c117,[6201245070900d002592d7ec],[],"[{'_id': 63ff75624c2d6d003084c118, 'lat': -26....",61.5600,NaN,NaN,Prueba,2023-03-01 15:55:14.078,2023-03-01 15:55:45.760,0,"[{'_id': 63ff75624c2d6d003084c11c, 'lat': -26....",eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzcmMiO...,False,63ff75624c2d6d003084c118,-26.853581,-65.252918,63ff75624c2d6d003084c11c,-26.858855,-65.251419
7,642b1d27cc00091984864f0a,[6201245070900d002592d7ec],[642b1d27cc00091984864f0d],[],79.9866,,0.0,prueba macsa,2023-04-03 18:38:31.434,2023-04-03 18:39:36.413,0,[{'_id': 642b1d27cc00091984864f0b}],NaN,False,None,NaN,NaN,642b1d27cc00091984864f0b,NaN,NaN
8,642c0b596490e600305e1819,[6201245070900d002592d7ec],[642c0e4a6490e600305e18eb],"[{'_id': 642c0b596490e600305e181a, 'lat': -26....",11.3300,None,NaN,Test,2023-04-04 11:34:49.097,2023-04-04 11:47:23.175,0,"[{'_id': 642c0b596490e600305e181e, 'lat': -26....",NaN,True,642c0b596490e600305e181a,-26.857838,-65.247076,642c0b596490e600305e181e,-26.859657,-65.245558

In [13]:
mascara= df_setle._id.isin(['63ff75624c2d6d003084c117','642b1d27cc00091984864f0a','642c0b596490e600305e1819'])
df_setle.drop(df_setle[mascara].index,inplace=True)

In [15]:
df_setle.to_csv('settle.csv',index=False)

In [8]:
df_plot[df_plot._id=='642c0e4a6490e600305e18eb']

,_id,auravant,virtualFenceGeoPoints,name,geoPoints,batchNumber,forage,specie,antiquity,quality,...,hectares,color,lat,lng,auravant_name,auravant_auravantPlotId,auravant_auravantSettlId,latitud,longitud,id_geoPoint
79,642c0e4a6490e600305e18eb,NaN,[],P1,"[{'_id': 642c0e4a6490e600305e18ec, 'lat': -26....",123123,LEGUMINOSAS,Alfalfa sin reposo invernal,None,EXCELENTE,...,1.08,#8db42f,NaN,NaN,NaN,NaN,NaN,-26.859093,-65.246753,642c0e4a6490e600305e18ec

In [63]:
df_setle[df_setle._id=='63ecf27ba9f1a40025792acf']

,_id,enabledUsers,plots,limits,hectares,registerNumber,headsCount,name,createdAt,updatedAt,__v,centralPoint,auravantApiKey,enabled,id_limits,latitud,longitud,id_central,latitud_c,longitud_c
5,63ecf27ba9f1a40025792acf,"[6201245070900d002592d7ec, 63ecb2e2a9f1a400257...","[63eff7fbebcff60025f5d968, 63effaa9eb90f92734f...","[{'_id': 63ecf27ba9f1a40025792ad0, 'lat': -34....",1.09,None,NaN,MACSA,2023-02-15 14:55:55.972,2023-03-23 14:29:30.396,0,"[{'_id': 63ecf27ba9f1a40025792ad4, 'lat': -34....",eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzcmMiO...,True,63ecf27ba9f1a40025792ad0,-34.163851,-64.071678,63ecf27ba9f1a40025792ad4,-34.164999,-64.07001

In [ ]:
#df_plot.drop(columns=['lat','lng','auravant'],inplace=True)
df_plot.info()

In [ ]:
df_plot.sample(8)

In [ ]:
df_plot[df_plot.color.isna()]

In [80]:
# agrego una columna para identificar a el settlements 
for i,d in df_setle.iterrows():
    id_plot=[str(x).strip() for x in d[['plots']].values[0]]
    if len(id_plot)!=0:
        df_plot.loc[df_plot._id.isin(id_plot),'id_settlements'] = df_setle.loc[i][['_id']].values[0]

In [43]:
from geopy.distance import geodesic
from geopy import Point

cordena1=tuple(x[['latitud','longitud']].values[0])
cordena2= tuple(x[['latitud_c',	'longitud_c']].values[0])

dista_km= geodesic(cordena1,cordena2).km
dista_km

0.1996762145591494

In [42]:
x[['latitud','longitud']].values[0]

array([-34.163851, -64.071678])

In [45]:
import math
def perimetro_aprox(hectarea):
    hect=hectarea
    lado = math.sqrt(hect)*10
    perim = lado*4
    return perim

In [46]:
c= perimetro_aprox(5000.00)
c

2828.42712474619