In [8]:
from pymongo import MongoClient
import pandas as pd

In [9]:
client = MongoClient('mongodb://localhost:27017');
print("Connection Successful")
#client.close()

Connection Successful

In [24]:
db= client.test
animals= db.animals
cursor_a = db['animals'].find()
df_animals =  pd.DataFrame(list(cursor_a))
df_animals

,_id,animalSettlement,caravanaNumber,animalType,weight,birthDay,breed,isPregmant,dateOfBirth,observations,createdAt,updatedAt,__v,animalTags,animalSenasa
0,62d6e9920408c608acb6fdd0,[620e6e5e60543d0026a01f0e],CAR9,VACA,500.0,2022-07-18,SIMBRAH,False,NaT,,2022-07-19 17:27:46.820,2023-02-10 18:40:12.193,0,[VIEJA],NaN
1,62d6e9d30408c608acb6fe08,[620e6e5e60543d0026a01f0e],CAR71,NOVILLO,234.0,2022-07-18,SIMBRAH,False,NaT,,2022-07-19 17:28:51.345,2022-11-25 02:11:05.689,0,[PARICION],NaN
2,62d98db9a30a66002645c287,[620e6e5e60543d0026a01f0e],CAR52,VACA,155.0,2022-07-18,BRANGUS,False,NaT,,2022-07-21 17:32:41.363,2022-07-21 17:32:41.363,0,NaN,NaN
3,62d99045a30a66002645c384,[620e6e5e60543d0026a01f0e],CAR169,TERNERO,73.0,2022-07-18,INDUSIN,False,NaT,,2022-07-21 17:43:33.443,2022-07-21 17:43:33.443,0,NaN,NaN
4,62d9a88c0223ce002612afed,[620e6e5e60543d0026a01f0e],CAR19,TERNERO,45.0,2022-03-25,BRAFORD,False,NaT,,2022-07-21 19:27:08.791,2022-12-06 14:08:45.687,0,[],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,642367fd0dac550030136043,[63ecf27ba9f1a40025792acf],TBOZAVI9,VACA,100.0,2022-06-18,HEREFORD,False,NaT,,2023-03-28 22:19:41.682,2023-03-28 22:19:41.682,0,[],TESTBOZAVI9
626,642367fd0dac550030136047,[63ecf27ba9f1a40025792acf],TBOZAVI11,VACA,100.0,2022-06-18,HEREFORD,False,NaT,,2023-03-28 22:19:41.690,2023-03-28 22:19:41.690,0,[],TESTBOZAVI11
627,642367fd0dac550030136045,[63ecf27ba9f1a40025792acf],TBOZAVI10,VACA,100.0,2022-06-18,HEREFORD,False,NaT,,2023-03-28 22:19:41.687,2023-03-28 22:19:41.687,0,[],TESTBOZAVI10
628,6424319990adbe6da4fb1c8a,[63efd78d65980f4378711b6f],PRUEBA FAS,NOVILLO,100.0,2000-01-01,SANTA GERTRUDIS,False,NaT,,2023-03-29 12:39:53.144,2023-03-29 13:24:50.276,0,[ENFERMA],None
629,642aeed40dac550030174fac,[63e6454922ee080030ba8728],PRUEBA SEN,NOVILLO,100.0,2023-04-03,SIMBRAH,False,NaT,,2023-04-03 15:20:52.896,2023-04-03 15:20:52.896,0,[],NaN

In [37]:
datos_animales = []
for db in db.find():
    diccionario = db["animals"]
    datos.append(diccionario)

AttributeError: 'dict' object has no attribute 'find'

In [28]:
datarows= db.datarows
cursor_dr = db['datarows'].find()
df_dr =  pd.DataFrame(list(cursor_dr))
df_dr

,_id,dataRowData,UUID,dataRowType,createdAt,updatedAt,__v,payload
0,62e93bc957a36c0025d91f21,"{'timestamp': '2022-08-02T14:59:21.948Z', 'mac...",0004A30B00F80B96,BEACON,2022-08-02 14:59:21.963,2022-08-02 14:59:21.963,0.0,NaN
1,62e93bee57a36c0025d91f23,"{'timestamp': '2022-02-08T14:59:57', 'lat': -3...",0004A30B00F82BD2,GPS,2022-08-02 14:59:58.512,2022-08-02 14:59:58.512,0.0,NaN
2,62e93bf557a36c0025d91f29,"{'timestamp': '2022-08-02T15:00:05.618Z', 'mac...",0004A30B00F7FC71,BEACON,2023-02-21 15:00:05.624,2023-02-21 15:00:05.624,0.0,NaN
3,62e93bf857a36c0025d91f2b,"{'timestamp': '2022-08-02T15:00:08.053Z', 'mac...",0004A30B00F7FC71,BEACON,2022-08-02 15:00:08.059,2022-08-02 15:00:08.059,0.0,NaN
4,62e93bfa57a36c0025d91f2d,"{'timestamp': '2022-08-02T15:00:10.203Z', 'mac...",0004A30B00F82BD2,BEACON,2022-08-02 15:00:10.210,2022-08-02 15:00:10.210,0.0,NaN
...,...,...,...,...,...,...,...,...
1296775,642d9b18d4035700302e32a7,"{'timestamp': '2023-05-03T15:43:56', 'mac': '3...",0004A30B00F89C52,BEACON,2023-04-05 16:00:24.058,2023-04-05 16:00:24.058,0.0,770f2b3805031735be312703d9598d0af00aa8e84e0000
1296776,642d9b1bd4035700302e32ad,"{'timestamp': '2023-04-05T16:00:27.781Z', 'vol...",0004A30B00F89C52,BATTERY,2023-04-05 16:00:27.783,2023-04-05 16:00:27.783,0.0,2c51992d64598df90f58fbff
1296777,642d9b20d4035700302e32b3,"{'timestamp': '2023-05-03T15:53:49', 'mac': '3...",0004A30B00F89C52,BEACON,2023-04-05 16:00:32.076,2023-04-05 16:00:32.076,0.0,770f353105031735be312703d95b5a0af00ab5e84e0000
1296778,642d9b24d4035700302e32b9,"{'timestamp': '2023-05-03T15:53:51', 'mac': 'F...",0004A30B00F89C52,BEACON,2023-04-05 16:00:36.318,2023-04-05 16:00:36.318,0.0,770f3533050317f80b9df1efd54d550a410ab5e84e0000
1296779,642d9b2cd4035700302e32bf,"{'timestamp': '2023-05-03T15:59:05', 'mac': 'C...",0004A30B00F89C52,BEACON,2023-04-05 16:00:44.634,2023-04-05 16:00:44.634,0.0,770f3b05050317c0d8868844f45c7c0e800c9ee84e0000

In [33]:
devices= db.devices
cursor_dev = db['devices'].find()
df_dev =  pd.DataFrame(list(cursor_dev))
df_dev

,_id,deviceType,deviceFirmwareVersion,deviceMACAddress,deviceAnimalID,__v
0,62d56cc2e71f68426833cc74,CARAVANA,2222,BC27B1A003FE,640f6ef10c8f4c1edc6767e4,0
1,62d6e9fc0408c608acb6fe31,CARAVANA,2222,E0402C1C41C3,642354190dac5500301350d0,0
2,62d99152a30a66002645c414,CARAVANA,2222,D8C5EB08B8C4,640f6ef10c8f4c1edc67680e,0
3,62d9a95f0223ce002612b082,CARAVANA,2222,76C16507C7F1,62d9a9400223ce002612b065,0
4,62d9ad5d0223ce002612b4e5,CARAVANA,2222,14D06B0EA2EE,638660af3039cf00301d200e,0
...,...,...,...,...,...,...
568,642360b02db4a76760913a58,COLLAR,2200,0004A30B00F81075,64235c730dac550030135faa,0
569,64236c77cf291b10b4ea5575,COLLAR,2200,0004A30B00F862AF,642367fd0dac550030136043,0
570,64236c77cf291b10b4ea557a,COLLAR,2200,0004A30B00F82EB9,642367fd0dac550030136047,0
571,64236c77cf291b10b4ea557c,COLLAR,2200,0004A30B00F842C1,642367fd0dac550030136045,0
572,642448faf8f189037068ccc1,CARAVANA,2.2.0,2D55492ABBED,6424319990adbe6da4fb1c8a,0

In [31]:
#settcount= db.settlementithcounts
cursor_sec = db['settlementithcounts'].find()
df_sec =  pd.DataFrame(list(cursor_sec))
df_sec

,_id,settlementId,ITH,createdAt,updatedAt,__v
0,62c7f1aedb5dcb31707223a8,620e6e5e60543d0026a01f0e,85.0,2022-07-08 08:58:22.542,2022-07-08 08:58:22.542,0
1,62cd3f774e549d1fa8a49127,620e6e5e60543d0026a01f0e,40.0,2022-07-12 09:31:35.287,2022-07-12 09:31:35.287,0
2,62cac4e7f7ba57581cc7333a,620e6e5e60543d0026a01f0e,85.0,2022-07-10 12:24:07.766,2022-07-10 12:24:07.766,0
3,62cac5dd9a70241d101c8044,620e6e5e60543d0026a01f0e,0.0,2022-07-10 12:28:19.056,2022-07-10 12:28:19.056,0
4,62cac836ea09d2322467a8c3,620e6e5e60543d0026a01f0e,51.0,2022-07-10 12:38:29.590,2022-07-10 12:38:29.590,0
...,...,...,...,...,...,...
17775,642d8cf1b239c60030f95c51,63ecf27ba9f1a40025792acf,71.0,2023-04-05 15:00:01.878,2023-04-05 15:00:01.878,0
17776,642d8cf2b239c60030f95c54,642c0b596490e600305e1819,69.0,2023-04-05 15:00:02.367,2023-04-05 15:00:02.367,0
17777,642d9b01d4035700302e3288,620e6e5e60543d0026a01f0e,70.0,2023-04-05 16:00:01.594,2023-04-05 16:00:01.594,0
17778,642d9b02d4035700302e328a,642c0b596490e600305e1819,68.0,2023-04-05 16:00:02.042,2023-04-05 16:00:02.042,0
17779,642d9b02d4035700302e328c,63ecf27ba9f1a40025792acf,72.0,2023-04-05 16:00:02.645,2023-04-05 16:00:02.645,0

In [32]:
cursor_set = db['settlements'].find()
df_set =  pd.DataFrame(list(cursor_set))
df_set

,_id,enabledUsers,plots,limits,hectares,registerNumber,headsCount,name,createdAt,updatedAt,__v,centralPoint,auravantApiKey,enabled
0,620e6e5e60543d0026a01f0e,"[6201245070900d002592d7ec, 636c17ea2bd5b200305...","[63b55f4b973f9f35c0c5b37d, 63b55f4b973f9f35c0c...","[{'_id': 63cedb56ea0de8476c39744d, 'lat': -32....",5000.0000,XCSS12345,10.0,La Florida,2022-02-17 15:48:47.058,2023-02-17 15:11:39.739,0,"[{'_id': 63cedb56ea0de8476c397457, 'lat': -32....",eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzcmMiO...,True
1,63877cd7e1ed590030662d0a,[6201245070900d002592d7ec],"[63877cd7e1ed590030662d11, 63d116f852372700318...","[{'_id': 63cedb6dea0de8476c39747b, 'lat': -33....",100.0000,12311413,100.0,Stock Test,2022-11-30 15:55:03.627,2023-02-07 21:47:03.299,0,"[{'_id': 63cedb6dea0de8476c39747f, 'lat': -33....",eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzcmMiO...,False
2,63e641fc22ee080030ba838b,[6201245070900d002592d7ec],[63f8c5c6110f66003023ec90],"[{'_id': 63f01465e572c6002f4d73f2, 'lat': -32....",0.2100,None,NaN,prueba,2023-02-10 13:09:16.013,2023-02-27 19:07:42.186,0,"[{'_id': 63f01465e572c6002f4d73f5, 'lat': -32....",eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzcmMiO...,False
3,63e6454922ee080030ba8728,[6201245070900d002592d7ec],"[63e6456b22ee080030ba8756, 6414cf9bb2505016885...","[{'_id': 63e6454922ee080030ba8729, 'lat': -32....",0.5700,None,NaN,establecimiento de prueba,2023-02-10 13:23:21.915,2023-04-03 18:39:57.746,0,"[{'_id': 63e6454922ee080030ba872d, 'lat': -32....",eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzcmMiO...,False
4,63efd78d65980f4378711b6f,[6201245070900d002592d7ec],[63f8fd2a3c8b18002f20a41e],"[{'_id': 63efd78d65980f4378711b70, 'lat': -32....",0.0200,None,NaN,prueba macsa,2023-02-17 19:37:49.367,2023-04-03 18:39:48.051,0,"[{'_id': 63ecf27ba9f1a40025792ad4, 'lat': -34....",eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzcmMiO...,False
5,63ecf27ba9f1a40025792acf,"[6201245070900d002592d7ec, 63ecb2e2a9f1a400257...","[63eff7fbebcff60025f5d968, 63effaa9eb90f92734f...","[{'_id': 63ecf27ba9f1a40025792ad0, 'lat': -34....",1.0900,None,NaN,MACSA,2023-02-15 14:55:55.972,2023-03-23 14:29:30.396,0,"[{'_id': 63ecf27ba9f1a40025792ad4, 'lat': -34....",eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzcmMiO...,True
6,63ff75624c2d6d003084c117,[6201245070900d002592d7ec],[],"[{'_id': 63ff75624c2d6d003084c118, 'lat': -26....",61.5600,NaN,NaN,Prueba,2023-03-01 15:55:14.078,2023-03-01 15:55:45.760,0,"[{'_id': 63ff75624c2d6d003084c11c, 'lat': -26....",eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzcmMiO...,False
7,642b1d27cc00091984864f0a,[6201245070900d002592d7ec],[642b1d27cc00091984864f0d],[],79.9866,,0.0,prueba macsa,2023-04-03 18:38:31.434,2023-04-03 18:39:36.413,0,[{'_id': 642b1d27cc00091984864f0b}],NaN,False
8,642c0b596490e600305e1819,[6201245070900d002592d7ec],[642c0e4a6490e600305e18eb],"[{'_id': 642c0b596490e600305e181a, 'lat': -26....",11.3300,None,NaN,Test,2023-04-04 11:34:49.097,2023-04-04 11:47:23.175,0,"[{'_id': 642c0b596490e600305e181e, 'lat': -26....",NaN,True